<div>
    <mat-form-field appearance="fill" style="width: 40%; margin-left: 10%; margin-top: 2%;">
        <mat-label>First Name</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" style="width: 40%; margin-left: 10%;">
        <mat-label>Last Name</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" style="width: 40%; margin-left: 10%;">
        <mat-label>Gender</mat-label>
        <mat-select>
            <mat-option value="option">Male</mat-option>
            <mat-option value="option">Female</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
</div>
<div class="example-container">
    <mat-form-field appearance="fill" style="width: 40%; margin-left: 10%;">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="Mail-Id">
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" style="width: 40%; margin-left: 10%;">
        <mat-label>Phone number</mat-label>
        <!-- <mat-icon>matSuffix-phone</mat-icon> -->
        <!-- <mat-hint>Include area code</mat-hint> -->
        <input matInput>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" style="width: 40%; margin-left: 10%;">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput>
    </mat-form-field>
</div>
<div style="margin-left: 10%;">
    <mat-checkbox>Select an item from the list by checking the checkbox.</mat-checkbox>
    <input matInput>
</div>
<div style="margin-left: 25%;">
    <a routerLink="../students"><button mat-raised-button>Done</button></a>
</div>